.ContainerBarInfo{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 100px;
    

   .contentBarInfo{
      max-width: 415px;
      margin-right: 50px;
    h3{
        font-family: 'Playfair Display', serif;    
        font-size: 50px;
        margin-bottom: 20px;
        color: #E00056;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    button{
        all: initial;
        background-color: none;
        font-family: 'Playfair Display', serif;    
        font-size: 30px;
        border-bottom: 1px solid #E00056;
        margin-top: 40px;
        color: black;
        width: 270px;
        cursor: pointer;
    }
   }
   .imageOneBarInfo{
    float: right;
    margin-bottom: 100px;
     .barInfoImageTwo{
    width: 470px;
    height: 471px;
    margin-left: 50px;


 }

   }
 @media (min-width: 768px) and (max-width:1023px){
    .contentBarInfo{
        max-width: 415px;
        margin-right: 50px;
        margin-left: 10px;
      h3{
          font-family: 'Playfair Display', serif;    
          font-size: 50px;
          margin-bottom: 20px;
          color: #E00056;
      }
      p{
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
      }
  
      button{
          all: initial;
          background-color: none;
          font-family: 'Playfair Display', serif;    
          font-size: 30px;
          border-bottom: 1px solid #E00056;
          margin-top: 40px;
          color: black;
          width: 270px;
          cursor: pointer;
      }
     }
     .imageOneBarInfo{
      float: right;
      margin-bottom: 100px;
       .barInfoImageTwo{
      width: 270px;
      height: 271px;
      margin-left: 50px;
  
  
   }
  
     }
}

@media (max-width:767px){

    margin-bottom: 700px;

    .contentBarInfo{
        max-width: 415px;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
        
      h3{
          font-family: 'Playfair Display', serif;    
          font-size: 50px;
          margin-bottom: 20px;
          color: #E00056;
      }
      p{
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
      }
  
      button{
          all: initial;
          background-color: none;
          font-family: 'Playfair Display', serif;    
          font-size: 30px;
          border-bottom: 1px solid #E00056;
          margin-top: 40px;
          color: black;
          width: 270px;
          cursor: pointer;
      }
     }
     .imageOneBarInfo{
      float: left;
      margin-bottom: 0px;
      
       .barInfoImageTwo{
      width: 270px;
      height: 271px;
      margin-left: 0px;
  
  
   }
  
     }    .contentBarInfo{
        max-width: 415px;
        margin-right: 50px;
        margin-left: 0px;
      h3{
          font-family: 'Playfair Display', serif;    
          font-size: 50px;
          margin-bottom: 20px;
          color: #E00056;
      }
      p{
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
      }
  
      button{
          all: initial;
          background-color: none;
          font-family: 'Playfair Display', serif;    
          font-size: 30px;
          border-bottom: 1px solid #E00056;
          margin-top: 40px;
          color: black;
          width: 270px;
          cursor: pointer;
      }
     }
     .imageOneBarInfo{
      float:none;
      margin-bottom: 0px;
      position: absolute; 
      margin-top: 750px;
      
        
      
       .barInfoImageTwo{
      width: 270px;
      height: 271px;
      margin-left: 0px;
  
  
   }
  
     }
}
}