.containerCalculatorTbm{
    margin-top: 300px;
    margin-bottom: 200px;

    .contentImageCalculator{
        margin-left: 300px;
        background-color: #1C000B;
        width: 560px;
        height: 210px;
        color: white;
        border-radius: 10px;

        .contentTextCalculator{
            max-width: 525px;
                 
        h1{
            font-family: 'Playfair Display', serif;    
            font-size: 30px;
            margin-bottom: 15px;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            margin-right:5px;
            
        }   
        }
        

        .ImageCalculatorTbm{
            width: 320px;
            height: 400px;
           position: relative;
            float: left;
           margin-top: -240px;
           margin-right: 20px;
           margin-bottom: 50px;
           margin-left: -70px;
           border-radius: 10px;
            
        }
    }

    .calculatorInputs{
        float: right;
        width: 700px;
        height: 400px;
        background-color: #2b2f3149;
        text-align: center;
        margin-right: 200px;
        border-radius: 10px;
        margin-top: -450px;
  
        h1{
            margin-top: 20px;
            font-family: 'Playfair Display', serif;    
            font-size: 30px;
            margin-bottom: 100px;
        }
        span{
             color: #E00056;
        }
        .caculatorInputsDisplay{

        select{
            border: none;

            background-color:#2b2f3100 ;
            border-bottom: 1px solid #E00056;
            margin-right: 60px;
            margin-bottom: 40px;
        }

        input{
            all: initial;
            border-bottom: 1px solid #E00056;
            
            
        }
        .inputMarginRight{
            margin-right: 30px;
        }
           button{
            all: initial;
            background-color: none;
            font-family: 'Playfair Display', serif;    
            font-size: 30px;
            border-bottom: 1px solid #E00056;
            margin-top: 40px;
            color: black;
            width: 270px;
            cursor: pointer;
           }

        }
    }
}