.containerCaloryCalculator{
    background-color: #1C000B;
    display: flex;
    justify-content: center;
    min-height:600px ;

.contentCaloryCalculator{
     max-width: 1000px;
     align-items: center;
     text-align: center;

     h1{
        color: white;
        font-size: 30px;
        font-family: 'Playfair Display', serif;   
        margin-top: 20px;
     }
     span{
       color: #E00056;
    }
    .searchCalory{
        background-color: white;
        margin-top: 50px;
        min-height: 140px;
        width: 900px;
        text-align: center;
        border-radius: 10px;
        justify-content: center;

        h3{
            padding-top: 10px;
            font-family: 'Playfair Display', serif;    
            font-size: 22px;
        }
        input{
            border: 1px solid #E00056;
            width: 287px;
            height: 58px;
            border-radius: 10px;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 30px;
        }

        .placeholder{
          text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
        }
       .searchResult{
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 300px;
        margin: 0 auto; 
        overflow: hidden; 
        .searchImage{
           height: 100px;
           width: 100px;
           float: left;
           margin-bottom: 20px;
        }
        h3{
            color: #E00056;
            font-family: 'Playfair Display', serif;    
        }
        p{
            font-family: 'Roboto', sans-serif;

        }


       }

    }
    .contentDadosSearchCalory{
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 900px;
        margin: 0 auto; 

        .ItemDadosSearch{
            
            margin-top: 100px;
            .contentDadosSearchImage{
            height: 250px;
            width: 250px;
            float: left;
           }            
           h1{
                color: #E00056;
                margin-right: 455px;
                margin-bottom: 10px;
                
              }      

              p{
                font-family: 'Roboto', sans-serif;
                color: white;
                margin-bottom: 10px;
                margin-right: 455px;
              }
              button{
                margin-right: 455px;
              }
        }

        .lastDadosCalory{
            text-align: center;
            justify-content: center;
            border-radius: 10px;
            background-color: white;
            width: 500px;
            height: 70px;
            margin: 0 auto;
            margin-top: 300px;
             

            h1{
                padding-top: 15px;
                color: black;
            }
        }
    }
}
}